* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 30px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #888;
}

h1 span {
    color:#c4cefa
}

.notes-header,
.total-header {
    background: rgb(112, 112, 112);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
}

.notes-header-list {
    display: flex;
    width: 84%;
    margin-left: 50px;
    list-style: none;
    color: #fff;
}

.notes-header-list li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.7rem;
    width: 20%;
}

.notes-icons,
.card-icons {
    padding-right: 0.5rem;
    display: flex;
}

.notes-icons span {
    color: #fff;
}

/* ======================================= */

.notes-list {
    margin-top: 5px;
}

.card {
    margin-top: 5px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #c4cefa;
    border-radius: 2px;
}

.card-editable {
    margin-left: 50px;
    width: 84%;
    display: flex;
    position: relative;
}

.card-editable span {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: -45px;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #504e4e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.card-list {
    width: 100%;
    display: flex;
    align-items: center;
}

.card-list li {
    /* white-space: nowrap; */
    overflow: hidden;
    width: 20%;
    padding: 0.7rem;
    text-overflow: ellipsis;
    list-style: none;
}

.card-list li:first-child {
    font-weight: bold;
}

.card-icons span {
    cursor: pointer;
}

/* ======================================= */

.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.modal_content {
    background-color: #fefefe;
    margin: 10% auto;
    border: 1px solid #888;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    width: 40%;
    padding: 20px;
    z-index: 9999;
}

.modal_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.modal_title {
    width: 100%;
}

#date {
    border: none;
    color: rgb(29, 116, 216);
}

.modal_close {
    font-size: 1.2em;
    cursor: pointer;
}

.modal_title input {
    border: none;
    width: 80%;
    font-weight: bold;
    font-size: 1.5em;
}

.modal_body {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 5px;
    margin-bottom: 20px;
}

.modal_body select,
.modal_body input[type="text"] {
    flex: 1 1 100%;
    font-size: 1em;
}

.modal_body select,
.modal_body input {
    border: 1px solid rgb(197, 197, 197);
    padding: 5px;
    border-radius: 3px;
}

.modal_body div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    align-items: center;
    column-gap: 10px;
}

.modal_body label {
    color: #888;
    font-size: 0.9rem;
}

.modal_footer {
    text-align: end;

}

.modal_footer button,
.modal_footer input {
    padding: 10px;
    cursor: pointer;
    width: 70px;
    margin-left: 10px;
    background-color: rgb(29, 116, 216);
    color: #ffffff;
    border: none;
    border-radius: 3px;

}

.modal_footer input {
    background-color: rgb(223, 81, 81);
}

/* ======================================= */

.total {
    margin-top: 50px;
}

.total-header-list {
    width: 100%;
}

.total-header-list li {
    width: 30%;
}

.total-list-card {
    width: 100%;
}

.total-list-card li {
    width: 30%;
}

.total-btn {
  position: absolute;
  top: 14%;
  right: 10px;
  padding: 7px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.total-list-editable {
    width: 100%;
}

/* ======================================= */

.notes_create {
    text-align: end;
    margin-top: 10px;
}

.notes_create-btn {
    cursor: pointer;
    padding: 0.3rem;
    background-color: rgb(230, 230, 230);
    border-radius: 0.4rem;
}

.show {
    display: block
}

.hide {
    display: none
}

.archive {
    text-decoration: line-through;
    color: #888;
}

.pointer {
    pointer-events: none;
}

.card[hidden] {
    display: none;
}
/* ======================================= */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    font-size: 0.9rem;
    font-family: Verdana, sans-serif;
    visibility: hidden;
    width: 80px;
    background-color: rgb(230, 230, 230);
    color: #504e4e;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    bottom: 100%;
    left: 50%;
    margin-left: -40px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

