* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 80%;
    margin: 20px auto;
}
.notes-header {
    background: rgb(112, 112, 112);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
}
.notes-header-list {
    display: flex;
    
}
.notes-header-list {
    width: 80%;
    margin-left: 50px;
    list-style: none;
    color: #fff;
}
.notes-header-list li {
    padding: 0.5rem;
    flex: 0 1 20%;
}
.notes-icons, 
.card-icons {
    padding-right: 0.5rem;
}
.notes-icons span {
    color: #fff;
    margin-left: 5px;
}
/* ======================================= */

.notes-list {
    margin-top: 5px;
}

.card {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items:center;
    background-color: #c4cefa;
    border-radius: 2px;
}
.card-editable {
    margin-left: 50px;
    width: 80%;
    display: flex;
}
.card-editable span {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color:#504e4e;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 13px 5px 5px;
}
.card-editable i {
    color: #fff;
}
.card-list {
    width: 100%;
    display: flex;
    align-items: center;
}
.card-list input, .card-list select {
    width: 20%;
    padding: 0.5rem;
    text-overflow: ellipsis;
    border: none;
    background: none;

}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
input::-webkit-calendar-picker-indicator{
    display: none;
}

.card-icons span {
    margin-left: 5px;
}